<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v2/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/compose?aspectRatio=1.78&format=webp&width=440"
        alt=""
      />
    </div>
    <div class="small-card_title">
      <h1><a href="#">Esse Projeto foi feito com Angular 14</a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
