<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<!--CARDS-->
<div class="container__articles">
  <div class="articles__main">
    <!--BIG CARD-->
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <!--SMALL CARDS-->
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>

<h1>NOVIDADES</h1>
<hr />
<!--CARDS-->
<div class="container__articles">
  <div class="articles__main">
    <!--BIG CARD-->
    <app-big-card></app-big-card>
  </div>
  <div class="articles__others">
    <!--SMALL CARDS-->
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
